# MQL5 Terminal
/Experts/Advisors
/Experts/Examples
/Files
/Files1
/Images/dollar.bmp
/Images/euro.bmp
/Images/Thumbs.db
/Include/Arrays
/Include/Canvas
/Include/ChartObjects
/Include/Charts
/Include/Controls
/Include/Expert
/Include/Files
/Include/Generic
/Include/Graphics
/Include/Indicators
/Include/Math
/Include/OpenCL
/Include/Strings
/Include/Tools
/Include/Trade
/Include/WinAPI
/Include/errordescription.mqh
/Include/internetlib.mqh
/Include/MovingAverages.mqh
/Include/Object.mqh
/Include/StdLibErr.mqh
/Include/SymbolTradeMadeSimple.mqh
/Include/TradeAlt.mqh
/Include/VirtualKeys.mqh
/Indicators/Examples
/Logs
/Profiles/Charts
/Profiles/Community
/Profiles/SymbolSets/forex.all.set
/Profiles/SymbolSets/forex.crosses.set
/Profiles/SymbolSets/forex.major.set
/Profiles/SymbolSets/IBOV.set
/Profiles/SymbolSets/IBRX100.set
/Profiles/Tester
/Profiles/Templates/default.tpl
/Profiles/Templates/ADX.tpl
/Profiles/Templates/BollingerBands.tpl
/Profiles/Templates/Momentum.tpl
/Profiles/Tester
/Scripts/Examples
/Scripts/UnitTests
/experts.dat

# Descarta executaveis / compilados
**/*.ex5

# Descarta cursos e scripts de aprendizados e tutoriais
/Cursos
