# MQL5 Terminal
/Experts/Advisors
/Experts/Examples
/Files
/Images/dollar.bmp
/Images/euro.bmp
/Include/Arrays
/Include/Canvas
/Include/ChartObjects
/Include/Charts
/Include/Controls
/Include/Expert
/Include/Files
/Include/Generic
/Include/Graphics
/Include/Indicators
/Include/Math
/Include/OpenCL
/Include/Strings
/Include/Tools
/Include/Trade
/Include/WinAPI
/Indicators/Examples
/Logs
/Profiles/Charts
/Profiles/SymbolSets/forex.all.set
/Profiles/SymbolSets/forex.crosses.set
/Profiles/SymbolSets/forex.major.set
/Profiles/SymbolSets/IBOV.set
/Profiles/SymbolSets/IBRX100.set
/Profiles/Tester
/Profiles/Templates/default.tpl
/Profiles/Templates/ADX.tpl
/Profiles/Templates/BollingerBands.tpl
/Profiles/Templates/Momentum.tpl
/Profiles/Tester
/Scripts/Examples
/Scripts/UnitTests
/experts.dat

# Descarta executaveis / compilados
**/*.ex5
